{% extends "base.html" %}

{% block content %}
<h1>Lista osiągnięć</h1>

<div class="container">
 {% for category, achievements in achievements_by_category.items() %}
 <h3 class="mt-5">{{ category }}</h3>
      {% if not achievements %}
      <p class="mt-3">Brak osiągnięć w danej kategorii</p>
      {% else %}
      <table class="table mt-3">
          <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Opis</th>
                <th scope="col">Początek</th>
                <th scope="col">Koniec</th>
                <th scope="col">Rating</th>
                <th scope="col">Status</th>
                <th scope="col">Hashtag</th>
               {% if current_user.role == "admin" %}
                   <th scope="col">Użytkownik</th>
               {% endif %}
              </tr>
          </thead>
          <tbody>
              {% for achievement in achievements %}
              <tr>
                <td>{{ achievement.aid }}</td>
                <td>{{ achievement.title }}</td>
                <td>{{ achievement.description }}</td>
                <td>{{ achievement.start_date }}</td>
                <td>{{ achievement.end_date }}</td>
                <td>{{ achievement.rating }}</td>
                <td>{{ achievement.status }}</td>
                <td>#{{ achievement.hashtag_name }}</td>
                 {% if current_user.role == "admin" %}
                 <td>{{ achievement.login }}</td>
                 {% endif %}
              </tr>
              {% endfor %}
          </tbody>
      </table>
 {% endif %}
 {% endfor %}
</div>


<!--<div class="container">-->
<!--   <table class="table">-->
<!--       <thead>-->
<!--           <tr>-->
<!--               <th scope="col">ID</th>-->
<!--               <th scope="col">Title</th>-->
<!--               <th scope="col">Description</th>-->
<!--               <th scope="col">Start Date</th>-->
<!--               <th scope="col">End Date</th>-->
<!--               <th scope="col">Rating</th>-->
<!--               <th scope="col">Status</th>-->
<!--               <th scope="col">Category Name</th>-->
<!--               <th scope="col">Hashtag Name</th>-->
<!--               <th scope="col">User</th>-->

<!--           </tr>-->
<!--       </thead>-->
<!--       <tbody>-->
<!--           {% for achievement in achievements %}-->
<!--           <tr>-->
<!--               <td>{{ achievement.aid }}</td>-->
<!--               <td>{{ achievement.title }}</td>-->
<!--               <td>{{ achievement.description }}</td>-->
<!--               <td>{{ achievement.start_date }}</td>-->
<!--               <td>{{ achievement.end_date }}</td>-->
<!--               <td>{{ achievement.rating }}</td>-->
<!--               <td>{{ achievement.status }}</td>-->
<!--               <td>{{ achievement.category_name }}</td>-->
<!--               <td>{{ achievement.hashtag_name }}</td>-->
<!--               <td>{{ achievement.login }}</td>-->
<!--           </tr>-->
<!--           {% endfor %}-->
<!--       </tbody>-->
<!--   </table>-->
<!--</div>-->


{% endblock %}