<!DOCTYPE html>
<html lang="pl">
<head>
  <title>System ewidencji osiągnięć pracowników</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>


  <style>
  .sidenav {
   min-height: 700px;
   background-color: rgb(248, 249, 250);
  }

  .footer {
  <!--   background-color: rgb(238, 239, 240);-->
  }


  </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example" data-bs-theme="dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
          <a class="navbar-brand col-lg-3 me-0" href="/">SEOP</a>
          <ul class="navbar-nav col-lg-6 justify-content-lg-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            {% if current_user.is_authenticated %}
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Osiągnięcia</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/achievement_list">Lista</a></li>
                {% if current_user.role == "admin" %}
                  <li><a class="dropdown-item" href="/achievement_add">Przypisz</a></li>
                  <li><a class="dropdown-item" href="/achievement_rate">Akceptacja/Ocena</a></li>
                {% else %}
                  <li><a class="dropdown-item" href="/achievement_add">Dodaj</a></li>
                  <li><a class="dropdown-item" href="/achievement_fix">Popraw</a></li>
                {% endif %}

              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Zadania</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/task_list">Lista</a></li>
                {% if current_user.role == "admin" %}
                  <li><a class="dropdown-item" href="/task_add">Utwórz/Przypisz</a></li>
                {% endif %}

              </ul>
            </li>

            {% if current_user.role == "admin" %}
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Kategorie</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/category_list">Lista</a></li>
                <li><a class="dropdown-item" href="/category_add">Dodaj</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Hashtagi</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/hashtag_list">Lista</a></li>
                <li><a class="dropdown-item" href="/hashtag_add">Dodaj</a></li>
              </ul>
            </li>

            {% endif %}

             <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Wyloguj</a>
             </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.signup') }}">Rejestracja</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Logowanie</a>
              </li>
            {% endif %}


          </ul>

          {% if current_user.is_authenticated %}
          <span class="navbar-text ms-auto">Użytkownik: {{ current_user.login }}</span>
          {% endif %}
<!--          <div class="d-lg-flex col-lg-3 justify-content-lg-end">-->
<!--            <button class="btn btn-primary">Button</button>-->
<!--          </div>-->
        </div>
      </div>
    </nav>

  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-sm-2 sidenav">
        {% block sidenavleft %} {% endblock %}
      </div>
      <div class="col-sm-8 text-left mt-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
               {{ messages[0]|safe }}
        {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}
      </div>
      <div class="col-sm-2 sidenav">
        {% block sidenavright %} {% endblock %}
      </div>
    </div>
  </div>


<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer container">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    </a>
    <span class="mb-3 mb-md-0 text-muted">&copy; 2024 System ewidencji osiągnięć pracowników (S. Górska, W. Zielińska)</span>
  </div>

</footer>


</body>
</html>
