{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Popraw osiągnięcie o ID: {{ aid }}</h1>

<div class="container">

<form action="{{ url_for('achievement.achievement_fix_single_form', aid=aid) }}" method="post">
       {{ form.hidden_tag() }} <!-- This generates CSRF token -->
       <div class="mb-3">
           {{ form.title.label(class="form-label") }}<br>
           {{ form.title(class="form-control",size=20) }}<br>
       </div>
       <div class="mb-3">
           {{ form.description.label(class="form-label") }}<br>
           {{ form.description(class="form-control",size=20) }}<br>
       </div>
       <div class="mb-3">
           {{ form.start_date.label(class="form-label") }}<br>
           {{ form.start_date(class="form-control") }}<br>
       </div>
       <div class="mb-3">
           {{ form.end_date.label(class="form-label") }}<br>
           {{ form.end_date(class="form-control") }}<br>
       </div>
       <div class="mb-3">
           {{ form.category.label(class="form-label") }}<br>
           {{ form.category(class="form-control") }}<br>
       </div>
       <div class="mb-3">
           {{ form.hashtag.label(class="form-label") }}<br>
           {{ form.hashtag(class="form-control") }}<br>
       </div>
       <input type="submit" value="Popraw" class="btn btn-primary">
   </form>
</div>
{% endblock %}