{% extends "base.html" %}

{% block content %}
<h3>Lista hashtagów</h3>
  <div class="container">
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                 <tr>
                     <th scope="col">ID</th>
                     <th scope="col">Hashtag</th>
                 </tr>
              </thead>
              <tbody>
                 {% for hashtag in hashtags %}
                     <tr>
                        <td>{{ hashtag.hid }}</td>
                        <td>#{{ hashtag.hashtag_name }}</td>
                     </tr>
                 {% endfor %}
              </tbody>
          </table>
      </div>
  </div>


{% endblock %}