{% extends "base.html" %}

{% block content %}
<h3>Lista zadań</h3>

  <div class="container">
 <table id="data" class="table table-striped">
   <thead>
     <tr>
       <th scope="col">ID</th>
       <th scope="col">Tytuł</th>
       <th scope="col">Opis</th>
       <th scope="col">Kategoria</th>
       {% if current_user.role == "admin" %}
           <th scope="col">Użytkownik</th>
       {% endif %}
     </tr>
   </thead>
   <tbody>
     {% for task in tasks %}
       <tr>
         <td>{{ task.tid }}</td>
         <td>{{ task.title }}</td>
         <td>{{ task.description }}</td>
         <td>{{ task.category_name }}</td>
         {% if current_user.role == "admin" %}
         <td>{{ task.login }}</td>
         {% endif %}
       </tr>
     {% endfor %}
   </tbody>
 </table>
  </div>
{% endblock %}