{% extends "base.html" %}

{% block content %}
<h3>Dodaj/Przypisz zadanie</h3>

<div class="container">
   <form method="POST">
       {{ form.hidden_tag() }}
       <div class="mb-3">
           {{ form.title.label(class="form-label") }}
           {{ form.title(class="form-control") }}
       </div>
       <div class="mb-3">
           {{ form.description.label(class="form-label") }}
           {{ form.description(class="form-control") }}
       </div>
       <div class="mb-3">
           {{ form.category.label(class="form-label") }}
           {{ form.category(class="form-select") }}
       </div>
       <div class="mb-3">
           {{ form.user.label(class="form-label") }}
           {{ form.user(class="form-select") }}
       </div>
       <button type="submit" class="btn btn-primary">Dodaj zadanie</button>
   </form>

    <script>
    $(document).ready(function () {
      $('#category').change(function () {
          var cid = $(this).val();
          $.getJSON(`/return_best_rated_user_for_category/${cid}`, function (data) {
              $('#topUsers').empty();
              if (data.length === 0) {
                  $('#topUsers').append('<p>(Brak - za mało znanych zaakceptowanych osiągnieć)</p>');
              } else {
                  data.forEach((user, index) => {
                    $('#topUsers').append(`<p>${index + 1}. ${user.login} (${user.average_rating})</p>`);
                  });
              }
          });
      }).trigger('change'); // Trigger the change event manually
    });
    </script>

    <h3 class="mt-3">Lista najlepszych osób do zadania:</h3>

    <div id="topUsers">

    </div>

</div>


{% endblock %}